#root {
  margin: 0;
  padding: 0;
}
.App {
  min-height: 100vh;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.App > h1 {
  font-size: 22px;
  font-weight: 400;
  color: var(--color-textSecondary);
}
.App .translateBox {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  gap: 6px
}